.run-stats-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    max-width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .run-stats-details {
    margin-top: 12px;
  }
  
  .run-stats-details div {
    margin-bottom: 8px;
  }
  
  strong {
    font-weight: bold;
  }

  .run-type-container {
    margin-bottom: 15px;
  }
  
  .run-type-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .run-type-options {
    display: flex;
    
  }
  
  .run-type-option {
    flex-basis: 50%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .run-type-option input[type="radio"] {
    margin-right: 5px;
  }

  