.nav-bar-container {
    border: solid black;
    display: flex;
    justify-content: center; 
    background-color: white;
  
  .nav-bar {
    display: flex;
    width: 750px;
    justify-content: space-around;
    list-style-type: none;
  }


  